.Lists {
	width: 100%;
	box-sizing: border-box;
	padding: 0;
}

.Lists li {
	list-style: none;
	background-color: #fcdfa6;
	box-sizing: border-box;
	margin: auto;
	padding-top: 10px;
	width: 50%;
	margin: auto;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	cursor: pointer;
}

.fadeout-enter {
	opacity: 0;
}

.fadeout-enter-active {
	opacity: 1;
	transition: opacity 0.7s ease-out;
}
.fadeout-exit {
	opacity: 0;
}
.fadeout-exit-active {
	opacity: 0.3;
	transition: opacity 0.7s ease-out;
}
