.Wrapper {
	display: flex;
	flex-direction: row;
}
.Item {
	width: 33%;
	text-align: center;
	padding: 20px;
}
.Item button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	color: #373f51;
	background-color: #d8dbe2;
	cursor: pointer;
}
